* {
    box-sizing: border-box;
  }
html{
    font-size: 16px;
}
body{
    margin: 0 auto;
    padding: 0;
    font-family: "Sofia Sans", "Helvetica Neue";
}
header{
    display: inline-flex;
    width: 100%;
    align-items: center;
    background-color: #28282B;
    border-bottom: 5px solid #FF10F0;
    position: fixed;
    top: 0px;
    z-index: 1;
}
.logo{
    width: 50%;
    margin-left: 30px;
    text-shadow: 1px 1px 0px #FF10F0;
    color:white;
    transition: all 0.4s ease;
}
.logo a{
    transition: all 0.4s ease;
    text-decoration: none;
}
.logo a:visited{
    text-shadow: 1px 1px 0px #FF10F0;
    color:white;
}
.logo a:hover{
    text-shadow: 1px 1px 0px white;
    color:#FF10F0;
    transition: all 0.4s ease;
}
nav{
    width: 50%;
}
nav ul{
    display: inline-flex;
    list-style: none;
    justify-content: flex-end;
    width: 100%;
    gap: 1rem;
    padding-right: 30px;
}
nav ul a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 1.5em;
    transition: all 0.3s;
}
nav ul a:hover{
    color: #FF10F0;
    transition: all 0.3s;
}
/****************************************************************/
/*Header for mobile devices 319px*/
@media only screen and (min-width: 319px) and (max-width:767px){
    header{
        flex-direction: column;
    }
    .logo{
        margin: 0px;
        text-align: center;
    }
    nav{
        width: 100%;
    }
    nav ul{
        justify-content: center;
        width: 100%;
        padding: 0px;
        font-size: 0.7rem;
    }
    .logo a:visited{
        text-shadow: 1px 1px 0px #FF10F0;
        color:white;
    }
}
@media only screen and (min-width: 767px) and (max-width:1023px){
    header{
        flex-direction: column;
    }
    .logo{
        margin: 0px;
        text-align: center;
        font-size: 2rem;
        width: 100%;
    }
    .logo a:visited{
        text-shadow: 1px 1px 0px #FF10F0;
        color:white;
    }
    nav{
        width: 100%;
    }
    nav ul{
        justify-content: center;
        width: 100%;
        padding: 0px;
        font-size: 1.5rem;
    }
}
/*abut me section pc*/
#about{
    position: relative;
    top: 6rem;
}
.me{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.me img{
    width: 85%;
}
.about-container{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}
.about-description{
    width: 20%;
}
.about-description img {
    width: 1rem;
    margin-left: 0.5rem;
}
/*abut me section mobile*/
@media only screen and (min-width: 319px) and (max-width:767px){
    #about{
        top: 16rem;
    }
    .about-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .me{
        width: 100%;
        justify-content: center;
    }
    .me img{
        width: 90%;
    }
    .about-description{
        width: 100%;
        padding: 0.6rem;
    }
}
/*abut me section tablet*/
@media only screen and (min-width: 767px) and (max-width:1023px){
    #about{
        top: 16rem;
    }
    .about-container{
        flex-direction: row;
        align-items: center;
        text-align: center;
    }
    .me{
        width: 100%;
        justify-content: center;
    }
    .me img{
        width: 90%;
    }
    .about-description{
        width: 100%;
        padding: 0.6rem;
    }
}
/*project section*/
#projects{
    position: relative;
    top: 6.5rem;
    display: flex;
    flex-direction: column;;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 0.1rem;
    background-color: #FF85F7;
}
.projects-list ul{
    display: inline-flex;
    list-style-type: circle;
    gap: 2rem;
}
/*project section mobile*/
@media only screen and (min-width: 319px) and (max-width:767px){
    #projects{
        position: relative;
        top: 15rem;
        line-height: 1rem;
    }
    .projects-list ul{
        flex-direction: column;
        padding: 0px;
        text-align: center;
    }
}
/*project section tablet*/
@media only screen and (min-width: 767px) and (max-width:1023px){
    #projects{
        position: relative;
        top: 15rem;
        line-height: 1rem;
    }
    .projects-list ul{
        text-align: center;
        flex-wrap: wrap;
    }
    .projects-list ul li{
        width: 30%;
    }
}
/*Project section laptop fix*/
@media only screen and (min-width:1023px) and (max-width:1439px){
    #projects{
        position: relative;
        top: 15rem;
        line-height: 1rem;
    }
    .projects-list ul{
        text-align: center;
        flex-wrap: wrap;
    }
    .projects-list ul li{
        width: 30%;
    }
}
/*Project description section*/
.column img{
    width: 15rem;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 25%;
}
#btn-more1,#btn-more2,#btn-more3,#btn-more4,#btn-more5,#btn-more6{
    margin: 2rem 0px;
    background-color:#FF10F0;
    border-radius: 50vw;
    padding: 12px 28px;
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
    transition: color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}
#btn-more1:hover,#btn-more2:hover,#btn-more3:hover,#btn-more4:hover,#btn-more5:hover,#btn-more6:hover{
    cursor: pointer;
    color:#FF10F0;
    background-color: white;
    transition: all 0.5s ease-in-out;
}
.column p{
    width: 15rem;
}
#firstpage,#dashmoto,#aboutmepro1,#company,#ong,#aboutmepro2{
    display: none;
}
.projects-container{
    line-height: 1rem;
    display: inline-flex;
    flex-wrap: wrap;
}
.projects-list h2{
    font-size: 2rem;
}
/*project description mobile*/
@media only screen and (min-width: 319px) and (max-width:767px){
    .column img{
        width: 15rem;
    }
    .column{
        border: white solid 2px;
        width: 100%;
    }
    .projects-container{
        gap: 1rem;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
}
/*project description tablet*/
@media only screen and (min-width: 767px) and (max-width:1023px){
    .column img{
        width: 15rem;
    }
    .column{
        border: white solid 2px;
        width: 33%;
    }
    .projects-container{
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
}

/*skills desktop*/
#skills{
    position: relative;
    top: 5rem;
    text-align: center;
}
.skills-container h2{
    font-size: 4rem;
}
.list-skills h2{
    font-size: 1rem;
}
.list-skills{
    display: inline-flex;
    align-items: center;
    width: 70%;
    justify-content: space-around;
}
.list-skills img{
    width: 10rem;
    height: 10rem;
    filter: opacity(0.2) drop-shadow(0 0 0 gray); 
    transition: filter 0.5s ease;
}
.list-skills img:hover{
    width: 10rem;
    height: 10rem;
    filter: opacity(1); 
    transition: filter 0.5s ease;
}